name: Deploy via FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Baixar código do repositório
        uses: actions/checkout@v4

      - name: Verificar arquivos
        run: |
          echo "=== ESTRUTURA docs/ ==="
          ls -la docs
          find docs -type f | head -20

      - name: Enviar arquivos via FTP
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASS }}
          port: 21
          passive: true
          local-dir: docs/
          server-dir: /wwwroot/
          log-level: verbose
          exclude: |
            **/.git*
            **/.github/**
            README.md
