name: Deploy via ftp
on:
  push:
    branches:
      - main  # Apenas deploys da branch main
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: FTP Deploy Locaweb
      uses: locaweb/ftp-deploy@1.0.0
      with:
        host: ${{ secrets.HOST }}
        user: ${{ secrets.USER }}
        password: ${{ secrets.PASS }}
        localDir: "docs"
        remoteDir: "/home/paivaerocha1/public_html"  # MUDANÇA AQUI
        forceSsl: false  # Locaweb usa FTP padrão, não FTPS
